body{
  width: 60%;
  margin:auto;
  margin-top: 5rem;
  background-color:#8FBC8F ;
  }
h1{
  color: #E0FFFF;
  text-align:centre;
  font-face: Comic Sans;
}
.shubh{
 display:flex;
 flex-wrap:wrap;
 justify-content:center;
 }
 
 img{
 width:500px;
 height:350px;
 margin:6px;
 transition: all transform 0.3s ease;
 box-shadow: 3px 3px 3px #800000;
 }
 img:hover{
 transform: skew(90deg);
 transform: skew(90deg);
 transform: skew(-50deg);
 transform: skew(90deg,-50deg);
 }
